*{
  margin: 0;
  padding: 0;
}

body{
    margin: 0;
    padding: 0;
    min-height: 100vh;
    
}

.outer-container{
    height: 100vh;
    width: 100vw;
    background-image: url(assests/ChatGPT\ Image\ Nov\ 19\,\ 2025\,\ 12_43_05\ PM.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
}
.joke-box{
    min-height: 40vh;
    min-width: 60vw;
    border-radius: 2rem;
    box-shadow: 0.5rem grey;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}
h1{
    text-align: center;
    margin-bottom: 1rem;
    color: #1a1200;
}
.joke-btn{
    margin: 0.5rem 1rem 1rem 1rem;
    min-height: 7vh;
    min-width: 10vw;
    background-color: black;
    color: #f3eb04;
    font-size: 1rem;
    border-radius: 1rem;
    border: none;
    padding: 0.5rem;
}
.joke-btn:hover{
    background-color: #000;
    color: #fff700;
    box-shadow: 0 0 10px #fff700, 0 0 20px #fff700;
    cursor: pointer;
    transform: scale(1.03);
    transition: 0.2s ease;
}
.jokeText{
    font-size: 1rem;
    color: #1a1200;
}
